NEXT_PUBLIC_SUPABASE_URL=sb_publishable_lZk3OXDUbspHlmX1XRM9Lg_5RIKNun7
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9heXF5eG9sZ2FjbHdxYnR2YW1xIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODIyOTIxMjUsImV4cCI6MjA5Nzg2ODEyNX0.4gvdngd5NDvrLsdFpDUhh5dtQKO81EAZkmihwFFBs64
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9heXF5eG9sZ2FjbHdxYnR2YW1xIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MjI5MjEyNSwiZXhwIjoyMDk3ODY4MTI1fQ.iTNDb2R_c3nuSLHPTpsmoUHd37npEI1EhKbsQw4L1ZI
NEXT_PUBLIC_BASE_URL=https://your-domain.uz
